name: Update Template CI
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  update-template:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: upptime/update-template-action@v1.0.3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
